
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.miFoot{
    display: flex;
    justify-content: center;
    width: 80%;
    position: fixed;
    left: 10%;
    bottom: 0;
    margin: 0 auto;
    background-color: #19191b;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
   
}