<main>
    <div class="container mt-4">
        <h2 class="mb-4 text-center text-white">Tabla de Productos</h2>
        <table class="table table-bordered text-center miTabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>LANCER EVOLUTION</td>
                    <td><img src="ruta_a_la_imagen" alt="Imagen del Producto" style="max-width: 100px;"></td>
                    <td>

                        EVO 9 3.0 LITROS
                    </td>
                    <td>$100.00</td>
                    <td>
                        <button type="button" class="btn btn-success m-2">Crear</button>
                        <button type="button" class="btn btn-primary m-2">Actualizar</button>
                        <button type="button" class="btn btn-dark m-2">Eliminar</button>
                    </td>
              
                </tr>
                <tr>
                    <td>SUBARU IMPREZA</td>
                    <td><img src="ruta_a_la_imagen" alt="Imagen del Producto" style="max-width: 100px;"></td>
                   <td>WRX STI 2.0</td>
                    <td>$100.00</td>
                    <td>
                        <button type="button" class="btn btn-success m-2">Crear</button>
                        <button type="button" class="btn btn-primary m-2">Actualizar</button>
                        <button type="button" class="btn btn-dark m-2">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>TOYOTA SUPRA</td>
                    <td><img src="ruta_a_la_imagen" alt="Imagen del Producto" style="max-width: 100px;"></td>
                  <td> 3.0 L 6 cil en linea</td>
        
                    <td>$100.00</td>
                    <td>
                        <button type="button" class="btn btn-success m-2">Crear</button>
                        <button type="button" class="btn btn-primary m-2">Actualizar</button>
                        <button type="button" class="btn btn-dark m-2">Eliminar</button>
                    </td>
                </tr>
                
                <!-- Puedes agregar más filas según tus productos -->
            </tbody>
        </table>
    </div>
</main>
