.loading-container {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  height: 80vh;
  opacity: 1; /* Inicia con opacidad 0 para ocultar el loading */
  transition: opacity 1.5s ease-in-out; /* Aumentamos la duración de la transición a 1.5 segundos */
  pointer-events: none; /* Evita que se puedan hacer clics mientras está el loading */

}


.spinner {
   
  width: 250px; /* Ajusta el tamaño de la llanta */
  height: 250px;
  background-image: url('../../../../public/assets/cargando/Black_and_Gold_Retro_Car_Service_Circle_Logo-removebg-preview.png'); /* Reemplaza con la ruta de tu imagen */
  background-size: contain;
 background-repeat: no-repeat;
  
 /* border-right-color: transparent;
 border-radius: 50%; */
 animation: spin 2s linear infinite;


}
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
