<main>
    <form>
        <div class="miForm">
          <div class="form-floating mb-4 mt-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Correo electronico</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Clave</label>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input mt-4" id="exampleCheck1">
          <label class="form-check-label text-white mt-3" for="exampleCheck1">Recuérdame</label>
        </div>
        <button type="submit" class="btn btn-dark">Entrar</button>
    </div>
      </form>
</main>