<main>
    <form>
        <div class="miForm">
          <div class="form-floating mb-4 mt-4">
            <input type="email" class="form-control" name="correo" placeholder="name@example.com"[(ngModel)]="correo">
            <label for="floatingInput">Correo electronico</label>
            
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" name="contrasenia" placeholder="Password"[(ngModel)]="contrasenia">
            <label for="floatingPassword">Clave</label>

          </div>
    
        <button type="submit" class="btn btn-dark mt-4" (click)="iniciarSesion()">Entrar</button>
    </div>
      </form>
</main>