<h1 class="text-center vw-100 mt-5">PANEL DE ADMINISTRACIÓN</h1>

<button class="btn btn-dark m-5">Cierre de sesión</button>

<div class="container border border-dark d-flex align-items-center gap-5">
    <ul>
        <li><strong>NOMBRE</strong></li>
        <li><strong>Pepito</strong></li>
        <li><strong>CORREO</strong></li>
        <li><strong>Pepito</strong></li>
        <li><strong>TIPO DE USUARIO</strong></li>
        <li><strong>Pepito</strong></li>
    </ul>
    <button class="btn btn-danger">Eliminar</button>
</div>