
<div *ngIf="loading; else content">
  <app-cargando>
    
  </app-cargando>
</div>

<ng-template #content>




<h1 class="Venta">VEHICULOS EN VENTA</h1>



<main>
    <div class="container">
        <div class="row">
          @for( producto of allProducts; track $index){
            <div class="col-4">
              <div class="wrapper">
                <img src="{{producto.imagen}}" alt="">
                <h1>{{producto.nombre}}</h1>
                <p>{{producto.modelo}}</p>
              </div>
              <div class="button-wrapper">
                <p class="btn outline">${{producto.precio}}.00</p>
                <button class="btn fill">COMPRAR</button>
              </div>
            </div>
        }
        </div>
    
      </div>
    


    </main>

  </ng-template>