<h1 class="Venta">VEHICULOS EN VENTA</h1>




<div class="container">
    @for(producto of allProducts; track $index){
    <div class="wrapper row col-3 ">
        <img src="{{producto.imagen}}" alt="">
        <h1>{{producto.nombre}} </h1>
        <p> {{producto.modelo}}<br/>
        </p>
    </div>
    <div class="button-wrapper">

        <p class="btn outline ">${{producto.precio}}0</p>
        <button class="btn fill">COMPRAR</button>
    </div>
    }






    <!-- <div class="wrapper">
        <div class="banner-image2"> </div>
        <h1> Subaru Impreza</h1>
        <p>modelo: 2003(modificado) <br />
            Subaru Impreza 2.0 WRX STI .</p>
    </div>
    <div class="button-wrapper">
        <p class="btn outline ">
            US$20,000.00 </p>
        <button class="btn fill">COMPRAR</button>
    </div>


    <div class="wrapper">
        <div class="banner-image"> </div>
        <h1> Toyota Supra</h1>
        <p>modelo: 2023(modificado) <br />
            motor 3.0 L 6 cil en linea </p>
    </div>
    <div class="button-wrapper">


        <p class="btn outline ">
            US$85,000.00 </p>
        <button class="btn fill ">COMPRAR</button>
    </div> -->
</div>