body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

main{
    width: 100vw;
    height: auto;
    
}

.video-container {
   
    width: 80%;
   
    overflow: hidden;
   
  }
  
  video {
   
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -35%);
    min-width: 80%;
    height: 50%;
    width: auto;
    height: auto;
    z-index: -1000;
    opacity: 0.9;
  
  }
 .titulo{
  position: absolute ;
  color: white;
  top:25%;
  left: 20%;
  font-size: 30px;
 }
  