<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      
      <div class="col-lg-8">
          <h4 class="text-center">Iniciar sesion</h4>
        <div class="card-body py-5 px-md-5">
          
          <form [formGroup]="credentialForm" (ngSubmit)="handleSubmit()">

              <!-- email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" class="form-control" name="correo" required formControlName="email"/>
              <label class="form-label">Correo electronico</label>
            </div>
              <!-- contraseña input -->
            <div data-mdb-input-init 
            class="form-outline mb-4">
              <input type="password"
               class="form-control" name="contrasenia" required/>
              <label class="form-label" formControlName="password">Contraseña</label>
            </div>
         
           
<!-- Submit button -->
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" >Iniciar sesion</button>
            <div class="d-flex align-items-center justify-content-center pb-4">
              <p class="mb-0 me-2">¿Aun no tienes cuenta?</p>
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger"(click)="toggleRegister()" >registrate</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->